/* Inspired by Oleg Frolov: https://codepen.io/Volorf/pen/KbbRbZ?editors=1100 */

.loader-box-container {
   width: 112px;
   height: 112px;
}

.loader-box-container .box1, .loader-box-container .box2, .loader-box-container .box3 {
   border: 16px solid var(--color);
   box-sizing: border-box;
   position: absolute;
   display: block;
}

.loader-box-container .box1 {
   width: 112px;
   height: 48px;
   margin-top: 64px;
   margin-left: 0px;
   -webkit-animation: ani1 4s 0s forwards ease-in-out infinite;
   animation: ani1 4s 0s forwards ease-in-out infinite;
}

.loader-box-container .box2 {
   width: 48px;
   height: 48px;
   margin-top: 0px;
   margin-left: 0px;
   -webkit-animation: ani2 4s 0s forwards ease-in-out infinite;
   animation: ani2 4s 0s forwards ease-in-out infinite;
}

.loader-box-container .box3 {
   width: 48px;
   height: 48px;
   margin-top: 0px;
   margin-left: 64px;
   -webkit-animation: ani3 4s 0s forwards ease-in-out infinite;
   animation: ani3 4s 0s forwards ease-in-out infinite;
}

@-webkit-keyframes ani1 {
   0% {
      width: 112px;
      height: 48px;
      margin-top: 64px;
      margin-left: 0px;
   }
   12.5% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 0px;
   }
   25% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 0px;
   }
   37.5% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 0px;
   }
   50% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 0px;
   }
   62.5% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 0px;
   }
   75% {
      width: 48px;
      height: 112px;
      margin-top: 0px;
      margin-left: 0px;
   }
   87.5% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 0px;
   }
   100% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 0px;
   }
}

@keyframes ani1 {
   0% {
      width: 112px;
      height: 48px;
      margin-top: 64px;
      margin-left: 0px;
   }
   12.5% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 0px;
   }
   25% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 0px;
   }
   37.5% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 0px;
   }
   50% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 0px;
   }
   62.5% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 0px;
   }
   75% {
      width: 48px;
      height: 112px;
      margin-top: 0px;
      margin-left: 0px;
   }
   87.5% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 0px;
   }
   100% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 0px;
   }
}

@-webkit-keyframes ani2 {
   0% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 0px;
   }
   12.5% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 0px;
   }
   25% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 0px;
   }
   37.5% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 0px;
   }
   50% {
      width: 112px;
      height: 48px;
      margin-top: 0px;
      margin-left: 0px;
   }
   62.5% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 64px;
   }
   75% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 64px;
   }
   87.5% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 64px;
   }
   100% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 64px;
   }
}

@keyframes ani2 {
   0% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 0px;
   }
   12.5% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 0px;
   }
   25% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 0px;
   }
   37.5% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 0px;
   }
   50% {
      width: 112px;
      height: 48px;
      margin-top: 0px;
      margin-left: 0px;
   }
   62.5% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 64px;
   }
   75% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 64px;
   }
   87.5% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 64px;
   }
   100% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 64px;
   }
}

@-webkit-keyframes ani3 {
   0% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 64px;
   }
   12.5% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 64px;
   }
   25% {
      width: 48px;
      height: 112px;
      margin-top: 0px;
      margin-left: 64px;
   }
   37.5% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 64px;
   }
   50% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 64px;
   }
   62.5% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 64px;
   }
   75% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 64px;
   }
   87.5% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 64px;
   }
   100% {
      width: 112px;
      height: 48px;
      margin-top: 64px;
      margin-left: 0px;
   }
}

@keyframes ani3 {
   0% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 64px;
   }
   12.5% {
      width: 48px;
      height: 48px;
      margin-top: 0px;
      margin-left: 64px;
   }
   25% {
      width: 48px;
      height: 112px;
      margin-top: 0px;
      margin-left: 64px;
   }
   37.5% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 64px;
   }
   50% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 64px;
   }
   62.5% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 64px;
   }
   75% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 64px;
   }
   87.5% {
      width: 48px;
      height: 48px;
      margin-top: 64px;
      margin-left: 64px;
   }
   100% {
      width: 112px;
      height: 48px;
      margin-top: 64px;
      margin-left: 0px;
   }
}